.appScreen {
	border: 1px solid white;

}
.calcform { width: 50%; }
.header-row { padding-top: 20px; }
.group-row { height: 50px; } 
.datetime.selected {
	background-color: #ccc;
}
.datetime {
	border: 2px solid #ccc;
	padding: 5px;
}

.personal-label {
	width: 150px;
}


